<div data-ng-controller="DraftController" data-ng-init="init()" style="">
    <div data-ng-hide="league">
        <h3>Choose your league:</h3>
        <table class="table row-hover" style="width: 400px;">
            <thead>
            <th>
                Name
            </th>
            <th>   </th>
            </thead>
            <tr data-ng-repeat="league in leagues">
                <td data-ng-click="selectLeague(league)">
                    {{league.name}}
                </td>
            </tr>
        </table>
    </div>
    <div data-ng-show="league && (!selectedTeam)" style="margin-left:600px;">
        <h3 style="margin-left:45px;">Select Team</h3>
        <div class="span3">
            <input placeholder="Select Your Team" type="text" ng-model="selectedTeamString" typeahead="team as team.name for team in draftTeams | filter:$viewValue | limitTo:12" class="form-control"/>
        </div>
        <div class="span1">
            <a class="btn btn-info" data-ng-click="selectTeam()">Select</a>
        </div>
    </div>
    <div data-ng-show="league && selectedTeam && draft.status === 'predraft'">
        <div class="span3">
            <div class="lilGridStyle" ng-grid="picksGridOptions">
           </div>
        </div>
        <div class="span4" style="margin-left: 180px; margin-top: 20px;">
            <h4>Choose Keepers</h4>
            <div>
                <input placeholder="Keeping Team" type="text" ng-model="draftingTeam" typeahead="team as team.name for team in draftTeams | filter:$viewValue | limitTo:12" class="form-control">
            </div>
            <div>
                <input placeholder="Name of Keeper" type="text" ng-model="newPick" typeahead="player as (player.first_name + ' ' + player.last_name + ' (' + player.position + ')') for player in availablePlayers | filter:$viewValue | limitTo:8" class="form-control">
            </div>
            <div >
                <input placeholder="Price" type='text' ng-model='newPrice' style='width: 50px;'/>
            </div>
            <div>
                <a class="btn btn-info" data-ng-click="pickPlayer()">Keep</a>
            </div>
        </div>
        <br/>
        <div>
            <a class="btn btn-info" data-ng-click="startDraft()">Start Draft</a>
        </div>
    </div>
    <div data-ng-show="league && selectedTeam && draft.status === 'keepersChosen'">
        <div class="span4" style="margin-top: 10px;">
            <tabset>
                <tab heading="Teams">
                    <table class="table" style="width: 420px;">
                        <thead>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Spot</th>
                        <th>Rem Budget</th>
                        <th>% Paid</th>
                        <th>Num of Picks</th>
                        </thead>
                        <tr data-ng-repeat="team in draftTeams">
                            <td>
                                {{team.name}}
                            </td>
                            <td>
                                {{team.owner}}
                            </td>
                            <td>
                                {{team.draft_spot}}
                            </td>
                            <td>
                                ${{team.remaining_budget}}
                            </td>
                            <td>
                                <div data-ng-style="{color: team.percentage > 0?'green':'red'}">
                                    {{- team.percentage}}%
                                </div>
                            </td>
                            <td>
                                {{team.numberOfPicks}}
                            </td>    
                        </tr>
                    </table>
                </tab>
                <tab heading="Positions">
                    <table class="table" style="width: 420px;">
                        <thead>
                        <th>Position</th>
                        <th>Drafted</th>
                        <th>Avg. Points</th>
                        <th>Avg. Cost</th>
                        <th>Avg. Proj. Cost</th>
                        <th>Avg. Cost/Pt</th>
                        </thead>
                        <tr data-ng-repeat="position in positions">
                            <td>
                                {{position.position}}
                            </td>
                            <td>
                                {{position.numberDrafted}}
                            </td>
                            <td>
                                <p data-ng-show="position.numberDrafted > 0">{{position.averagePoints}}</p>
                            </td>
                            <td data-ng-style="{color: (position.averageCost > position.averageProjectedCost)?'red':'green'}">
                                <p data-ng-show="position.numberDrafted > 0">${{position.averageCost}}</p>
                            </td>
                            <td>
                                <p data-ng-show="position.numberDrafted > 0">${{position.averageProjectedCost}}</p>
                            </td>
                            <td>
                                <p data-ng-show="position.numberDrafted > 0">${{position.averageCostPerPoint}}
                            </td>
                        </tr>
                    </table>
                </tab>
            </tabset>
        </div>
        <div class="span8" style="height: 430px;">
            <div class="span4">
                <h3>Current Nomination</h3>
                <form name="newPickForm" data-ng-submit="pickPlayer()">
                    <div>
                        <input placeholder="Name of Current Nominee" type="text" ng-model="newPick" typeahead="player as (player.first_name + ' ' + player.last_name + ' (' + player.position + ')') for player in availablePlayers | filter:$viewValue | limitTo:8" class="form-control">
                    </div>
                    <div data-ng-show="newPick"> 
                        <p><b>Player:</b> {{newPick.first_name}} {{newPick.last_name}} ({{newPick.position}}) - {{newPick.nfl_team}}</p>
                        <p><b>Projected Cost:</b> ${{newPick.price}}</p>
                        <p><b>Points:</b> {{newPick.points}}</p>
                        <p><b>Overall Rank:</b> {{newPick.overallRank}}</p>
                        <p><b>Position Rank:</b> {{newPick.positionRank}}</p>
                        <p><b>Projected Cost/Point:</b> {{newPick.price / newPick.points}}</p>
                        <p><b>Pos. Act. Cost/Point:</b> {{newPick.positionStats.averageCostPerPoint}}</p>

                    </div>
                    <div data-ng-show="newPick">
                        <input placeholder="Drafting Team" type="text" ng-model="draftingTeam" typeahead="team as team.owner for team in draftTeams | filter:$viewValue | limitTo:12" class="form-control">
                    </div>
                    <div class='span2' style='margin-left:0px' data-ng-show='newPick'>
                        <input type='text' ng-model='newPrice' style='width: 50px;'/>
                    </div>
                    <div class='span1' data-ng-show='newPick'>
                        <button type="submit" class="btn btn-info">Pick</button>
                    </div>
                </form>
            </div>
            <div class="span4">
                <div data-ng-if="chartDataPointsOverall" data-ac-chart="'line'" data-ac-data="Fchart()" data-ac-config="config" class="chart"></div>
                <br/>
                <div data-ng-if="chartDataPointsByPosition" data-ac-chart="'line'" data-ac-data="OverallFchart()" data-ac-config="overallConfig" class="chart"></div>
            </div>
        </div>
        <div class="span12">

            <tabset>
                <tab heading="Picks ({{picks.length}})">
                    <div class="gridStyle" ng-grid="picksGridOptions">
                   </div>
                </tab>
                <tab heading="Combinations">
                    <table class="table">
                        <thead>
                        <th>
                            Points
                        </th>
                        <th>
                            Cost
                        </th>
                        <th>
                            Cost/Point
                        </th>
                        <th data-ng-repeat="player in combos[0].players">
                            {{player.position}}
                        </th>
                        </thead>
                        <tr data-ng-repeat="combo in combos">
                            <td>
                                {{combo.points}}
                            </td>
                            <td>
                                {{combo.cost}}
                            </td>
                            <td>
                                {{combo.cost / combo.points}}
                            </td>
                            <td data-ng-repeat="comboPlayer in combo.players">
                                {{comboPlayer.first_name}} {{comboPlayer.last_name}}({{comboPlayer.points}}, ${{comboPlayer.price}})
                            </td>
                        </tr>
                    </table>
                </tab>
                <tab heading="All Available ({{availablePlayers.length}})">
                     <div class="gridStyle" ng-grid="allAvailableGridOptions">
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>