<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>{{team.name}}</h2>
            
            <h3 ng-if="!team.players.length">Your team hasn't been drafted yet.</h3>

            <table class="table table-striped" ng-if="team.players.length">
                <tr>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th>Headshot</th>
                </tr>
                <tr ng-repeat="player in team.players">
                    <td>{{player.name.full}}</td>
                    <td>{{player.editorial_team_full_name}}</td>
                    <td>{{player.display_position}}</td>
                    <td>
                        <img ng-src="{{player.headshot.url}}" alt="{{player.name.full}}" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>