body {
  padding-top: 50px;
  cursor: default;
  height: 100%;
  background: whitesmoke;
}

footer {
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
  background: whitesmoke;
  text-align: center;
  /*z-index: 20000;*/
  border-top: 1px solid #D4D4D4;
  position:relative;
}

.main-page-content {
  /*margin-bottom: 30px;*/
  padding-bottom: 100px;
  background-color: #fff;
}

.nav-header {
    clear: both;
}


.row-hover tr:hover td {
    background-color:#F5F5F5 !important;
    cursor: pointer;
}

.row-hover tr a{
  visibility:hidden;
}

.row-hover tr:hover a {
 visibility:visible;
}