<ul class="nav navbar-nav side-nav">
    <li class="active"><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="#/teams"><i class="fa fa-users"></i> Teams</a></li>
    <li><a href="#/leagues"><i class="fa fa-trophy"></i> Leagues</a></li>
    <li><a href="#/players"><i class="fa fa-male"></i> Players</a></li>
    <li><a href="#/rules"><i class="fa fa-legal"></i> Rules</a></li>
    <li><a href="#/history"><i class="fa fa-university"></i> League History</a></li>
    <li ng-if="isAdmin">
        <a href="javascript:void 0;" data-toggle="collapse" data-target="#adminTools">
            <i class="fa fa-fw fa-rebel"></i> Admin Tools <i class="fa fa-fw fa-caret-down"></i>
        </a>
        <ul id="adminTools" class="collapse">
            <li>
                <a href="#/admin/teams">Manage Teams</a>
            </li>
            <li>
                <a href="#/admin/leagues">Manage Leagues</a>
            </li>
        </ul>
    </li>
</ul>