<div data-ng-controller="BestDraftController" data-ng-init="init()">
    <div data-ng-show="!league">
        <h3>Choose league:</h3>
        <table class="table row-hover" style="width: 400px;">
            <thead>
            <th>
                Name
            </th>
            <th>   </th>
            </thead>
            <tr data-ng-repeat="league in leagues">
                <td data-ng-click="selectLeague(league)">
                    {{league.name}}
                </td>
            </tr>
        </table>
    </div>
    <div data-ng-show="league">
        
    </div>
</div>