<div data-ng-controller="DraftController" data-ng-init="init()" style="">
    <div style='text-align:center'>
        <div class="pull-left">
            <select ng-options="league as league.name for league in leagues" ng-model="league" ng-change="switchLeague(league)"></select>
        </div>
        <h2 style="margin-right:220px;">Post Season Reports</h2>
    </div>
    <div class='centered' data-ng-show="!teamDraftedPlayersSeasonTotal">
        <img src="http://www.fordparts.com/Images/Misc/spinner_white.gif">
    </div>

    <tabset data-ng-hide="!teamDraftedPlayersSeasonTotal">
        <tab heading="Total Pts Drafted">
            <div data-ng-hide="!teamDraftedPlayersSeasonTotal">
                <h3>Rankings - Total Points from Drafted Players for the Season</h3>
                <table class="table row-hover" style="width: 400px;">
                    <thead>
                    <th>

                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Manager
                    </th>
                    <th>
                        Draft
                    </th>
                    <th>   </th>
                    </thead>
                    <tr data-ng-repeat="total in teamDraftedPlayersSeasonTotal">
                        <td>
                            <img src="{{total.logo_url}}">
                        </td>
                        <td>
                            {{total.name}}
                        </td>
                        <td>
                            {{total.manager}}
                        </td>
                        <td>
                            {{total.totalPoints}}
                        </td>
                    </tr>
                </table>
                <small>* These rankings include all players, bench included.  Comparing to the season total actual points is not really relevant.</small>
            </div>
        </tab>
        <tab heading="Player Rankings">
            <div>
                <h3>Rankings - Drafted Players Ranked by Points</h3>
                <table class="table row-hover" style="width: 400px;">
                    <thead>
                    <th>

                    </th>
                    <th>
                        Player
                    </th>
                    <th>
                        Points
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Points/Dollar
                    </th>
                    <th>   </th>
                    </thead>
                    <tr data-ng-repeat="player in rankedDraftedPlayers">
                        <td>
                            <img src="{{player.headshot}}">
                            <p></p>
                        </td>
                        <td>
                            {{player.name}}
                        </td>
                        <td>
                            {{player.seasonTotalPoints}}
                        </td>
                        <td>
                            {{player.cost}}
                        </td>
                        <td>
                            {{player.pointsPerDollar}}
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
    </tabset>
</div>